{% extends 'base.html' %}
{% block content %}
<h1>Invite Friend to Cook</h1>
<p>Recipe by {{ recipe.creator.username }}</p>

<form method="post">
    {% csrf_token %}
    <p>
        <label>Friend:</label>
        <select name="recipient" required>
            {% for user in users %}
                <option value="{{ user.pk }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Date:</label>
        <input type="date" name="invite_date" required>
    </p>
    <p>
        <label>Time:</label>
        <input type="time" name="invite_time" required>
    </p>
    <button type="submit">Send Invite</button>
</form>
{% endblock %}
